<%- include ('./partials/head.ejs') %>
<header>
  <ul>
    <li class="addButton">
      <button>+</button>
    </li>
  </ul>
  <nav>
    <ul>
      <li>
        <button>Users</button>
      </li>
      <li>
        <button>Friends</button>
      </li>
      <li>
        <button>items per day</button>
      </li>
      <li>
        <button>More</button>
      </li>
    </ul>
    <button id="resetButton">Reset</button>
    <button id="runSim">Run</button>
  </nav>
</header>

<main>
  <aside id="parameters">
    <div class="parameter card paramItem hidden">
      <label> Number of users:</label>
      <input type="range" min="2" max="500" />
    </div>
    <div class="parameter card paramItem hidden">
      <label> Number of friends:</label>
      <input type="range" min="2" max="500" />
    </div>
    <div class="parameter card paramItem hidden">
      <label> Number of items send:</label>
      <input type="range" min="2" max="500" />
    </div>
    <div class="card hidden">
      <div class="parameter paramItem">
        <label> Number of users:</label>
        <input type="range" min="2" max="500" />
      </div>
      <div class="parameter paramItem">
        <label> Number of users:</label>
        <input type="range" min="2" max="500" />
      </div>
      <div class="parameter paramItem">
        <label> Number of users:</label>
        <input type="range" min="2" max="500" />
      </div>
      <div class="parameter paramItem">
        <label> Number of users:</label>
        <input type="range" min="2" max="500" />
      </div>
      <div class="parameter paramItem">
        <label> Number of users:</label>
        <input type="range" min="2" max="500" />
      </div>
      <div class="parameter paramItem">
        <label> Number of users:</label>
        <input type="range" min="2" max="500" />
      </div>
      <div class="parameter paramItem">
        <label> Number of users:</label>
        <input type="range" min="2" max="500" />
      </div>
    </div>
  </aside>
  <figure id="graph"></figure>
  <!-- <div id="my_dataviz"></div> -->

  <aside id="zoom">
    <!-- <button id="distance">
      <svg viewBox="0 0 16 16">
        <g
          id="Group_315"
          data-name="Group 315"
          transform="translate(-1874 -960)"
        >
          <rect
            id="Rectangle_651"
            data-name="Rectangle 651"
            width="4"
            height="8"
            transform="translate(1874 967)"
            fill="#707070"
          />
          <rect
            id="Rectangle_653"
            data-name="Rectangle 653"
            width="4"
            height="11"
            transform="translate(1879 964)"
            fill="#707070"
          />
          <rect
            id="Rectangle_652"
            data-name="Rectangle 652"
            width="4"
            height="15"
            transform="translate(1884 960)"
            fill="#707070"
          />
        </g>
      </svg>
    </button>
     -->
    <button id="darkmode"></button>
    <button id="downloadSVG"></button>

  
  </aside>
</main>
<%- include ('./partials/footer.ejs') %>
