<%- include ('./partials/head.ejs') %>
<header>
  <ul>
    <li class="addButton">
      <button>+</button>
    </li>
  </ul>  
  <nav>
    <ul>
      <li>
        <button>Users</button>
      </li>
      <li>
        <button>Friends</button>
      </li>
      <li>
        <button>Items</button>
      </li>
      <li>
        <button>More</button>
      </li>
    </ul>
    <button> Run </button>
  </nav>
</header>

<main>
  <aside class="parameters">
    <div class="parameter card"></div>
    <div class="parameter card"></div>
    <div class="parameter card"></div>
    <div class="parameter card"></div>
    <div class="parameter card"></div>
    <div class="parameter card"></div>
    <div class="parameter card"></div>
    <div class="parameter card"></div>
    <div class="parameter card"></div>
    <div class="parameter card"></div>
  </aside>
  <div id="zoom">
    <p></p>
    <button id="zoomIn">+</button>
    <button id="zoomOut">-</button>
  </div>
  <figure id="graph"></figure>
  <div class="reset">
   <button id="distance">Distance</button>
  </div>
  <div id="my_dataviz"></div>
</main>
<%- include ('./partials/footer.ejs') %>
