/*
 * [Modified] Modern CSS Reset
 * @link https://github.com/hankchizljaw/modern-css-reset
*/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html,
body {
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  overflow: hidden;
}

/* Make images easier to work with */
img {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }

  html {
    scroll-behavior: initial;
  }
}

/* OWN CSS */

@media (prefers-color-scheme: dark) {
  :root {
    --main-bg-color: white;
    --primary-color: hsl(228, 46%, 35%);
    --secondary-color: hsl(228, 63%, 18%);
    --text-color: hsl(228, 63%, 58%);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --main-bg-color: hsl(223, 45%, 95%);
    --primary-color: hsl(223, 100%, 100%);
    --secondary-color: hsl(223, 87%, 57%);
    --text-color: hsl(223, 87%, 57%);
  }
}

:root {
  --person-color: purple;
  --item-color: purple;
  --person-shadow-color: rgb(178, 51, 68);
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100vw;
  background-color: rgb(241, 241, 241);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
header button {
  border-radius: 100vmax;
  background: none;
  border-style: solid;
  border-color: #707070;
  border-width: 0.5px;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 2rem;
  text-align: start;
  cursor: pointer;
}

header > ul > li > button {
  border-style: none;
}

header > nav > ul > li > button:focus {
  border-color: #2780e7;
  color: #2780e7;
}

header > ul > li > a {
  padding-left: 1rem;
  color: var(--primary-color);
}

header > ul {
  grid-column-start: 1;
  grid-column-end: end;
  display: flex;
  background-color: rgb(241, 241, 241);
  margin-bottom: 0;
  padding: 0;
  height: 2rem;
}

header > ul > li {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin-right: 0.1rem;
  border-radius: 5px 10px 0 0;
  padding-top: 0.3rem;
  box-shadow: 0.5px 0px 3px hsl(228deg 46% 35% / 64%);
}

header > ul > li:first-of-type {
  order: 1;
  width: 2rem;
}
header > ul > li:first-of-type:hover {
  font-size: 20px;
  transition: 0.3s;
  color: var(--primary-color);
}

header > ul > li:first-of-type button {
  padding: 0;
}

header > ul > li:first-of-type button:hover {
  color: var(--text-color);
}

header > ul > li button:hover:not(header > ul > li:first-of-type button) {
  color: var(--person-shadow-color);
}

.opened {
  border: 0.6px solid var(--primary-color);
  border-bottom: none;
}

.opened a {
  color: var(--text-color);
}

#resetButton {
  margin: 0 auto 0 1rem;
  background-color: #fff;
  color: var(--secondary-color);
  border-color: var(--secondary-color);
}

#resetButton:hover {
  color: var(--person-shadow-color);
  border-color: var(--person-shadow-color);
}
header > nav {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  grid-column-start: 1;
  grid-column-end: end;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0;
  background-color: white;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.08);
  font-size: 0.8rem;
}
header > nav > ul {
  display: flex;
  margin: 0;
  padding: 0;
}

header > nav > ul > li {
  margin-right: 1rem;
}

header > nav > button {
  border-color: #2780e7;
  background-color: #2780e7;
  color: white;
}

main {
  position: relative;
  width: 100vw;
  height: 90%;
  margin: 0;
  padding: 0;
}

main > figure {
  margin: 0;
  padding: 0;
}
#parameters {
  position: absolute;
  top: 1rem;
  right: 15.5rem;
}

.card {
  position: absolute;
}

.paramItem {
  width: 15rem;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 1rem;
  box-shadow: 0 3px 9px rgba(0, 0, 6, 0.16);
  padding: 1rem;
}

.hidden {
  display: none;
}

#zoom {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

#zoom button {
  margin-top: 0.5rem;
  text-align: center;
  width: 2rem;
  height: 2rem;
  position: relative;
}

#zoom button > svg {
  height: 1rem;
  width: auto;
  margin: auto;
  transform: translate(-50%, -50%);
  top: 50%;
  position: absolute;
  left: 50%;
}

section.onboarding {
  display: none;
  animation: none;
  position: absolute;
  z-index: 2;

  top: 5vw;
  left: 10vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

section.onboarding article:nth-of-type(1),
section.onboarding article:nth-of-type(2) {
  width: 80vw;
  height: 80vh;
  background-color: var(--primary-color);
  border-radius: 10px;
}

section.onboarding article h1,
section.onboarding article h2,
section.onboarding article p,
section.onboarding article a {
  text-align: center;
}

section.onboarding article h1 {
  font-weight: 200;
}

section.onboarding article h2 {
  text-transform: uppercase;
  font-size: 2.5vw;
}

section.onboarding article h3 {
  text-align: center;
  font-size: 1.5vw;
  font-weight: 600;
}

section.onboarding article p {
  text-align: center;
  font-size: 1.2vw;
  margin: 0 10% 3% 10%;
}

section.onboarding article {
  display: none;
}

section.onboarding article.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section.onboarding article:nth-of-type(3).active div {
  background-color: var(--primary-color);
  padding: 5%;
  margin: 0 15% 0 15%;
  border-radius: 5px;
  position: relative;
  top: 20vh;
}

section.onboarding article:nth-of-type(3).active ~ button.onboarding-start img {
  display: none;
}

section.onboarding
  article:nth-of-type(3).active
  ~ button.onboarding-start::after {
  position: absolute;
  top: 40vh;
  left: 40vw;
  background-color: var(--primary-color);
  padding: 2%;
  border-radius: 5px;
  border: none;
  content: url("../img/plus-icon.svg");
}

button.onboarding-start {
  background-color: transparent;
  border: none;
  margin-top: -10%;
}

/* /////////////////////////////////////////////////////////////// */
/* CSS FOR ONBOARDING NAVMENU */
/* /////////////////////////////////////////////////////////////// */

section.onboarding article.active nav {
  display: flex;
  justify-content: center;
  max-width: 85vw;
}

section.onboarding article.active nav ul:first-of-type {
  width: 45vw;
  height: 2vh;
  background-color: var(--highlight-color);
  display: flex;
  justify-content: start;
  border-radius: 10px 0 0 10px;
  padding: 5%;
}

section.onboarding article.active nav ul:nth-of-type(2) {
  background-color: var(--highlight-color);
  flex-direction: row;
  display: flex;
  justify-content: end;
  border-radius: 0 10px 10px 0;
  /* padding: 5%; */
}

.person {
  transition: 1s all;
  fill: var(--person-color);
  clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}

person:hover {
  opacity: 1;
}

.item {
  fill: var(--person-color);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

line {
  pointer-events: none;
  opacity: 0.8;
}

body .opacity {
  opacity: 0.8;
}
.opacityDim {
  opacity: 0.2;
}

section.onboarding article.active nav ul li {
  padding-left: 5%;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.onboarding article.active nav ul li img {
  padding-bottom: 8px;
  height: 30px;
}

section.onboarding article.active nav ul {
  position: static;
  left: 0;
  display: block;
  border-radius: 0;
  transition: none;
  margin: 0;
  height: 5vh;
}

/* section.onboarding article.active nav ul {

} */

/* parameters out of nav and to section */

section.onboarding article.active nav ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

section.onboarding article.active nav ul li p {
  display: flex;
}

section.onboarding article.active nav ul li:not(:last-of-type) {
  border-bottom: none;
}

section ul li img {
  cursor: pointer;
}

section.onboarding article:nth-of-type(4).active ~ button.onboarding-start {
  display: none;
}

.darkmode{
  filter: invert(100%) hue-rotate(180deg);
}

.darkmode svg{
  background-color: white;
}

.darkmode #darkmode {
  background: url(../img/moon.png);
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
}

#darkmode {
  background: url(../img/sun.png);
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
}


#downloadSVG {
  background: url(../img/download.png);
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
}

div#my_dataviz {
  position: fixed;
  top: 0;
  overflow: hidden;
  display: none;
}

.steps {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 20px;
  color: black;
  z-index: 1;
}

.tooltip {
  position: fixed;
  background-color: white;
  padding: 20px;
  margin-left: 40px;
  border: 2px black solid;
}