*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --main-bg-color: hsl(228,29%,19%);
  --primary-color: hsl(228,46%,35%);
  --primary-color-dark: hsl(228,63%,18%);
  --primary-color-light: hsl(228,63%,58%);
  --person-color: #EB6072;
  --person-shadow-color: rgb(178, 51, 68);
  --item-color: #F8E368;
}

body {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  color: #fff;
  background-color: var(--main-bg-color);
}

main h2 {
  padding-top: 10px;
  margin-left: 3%;
  font-size: 1vw;
}

h3 {
  font-size: 1.1vw;
  font-weight: normal;
  padding: 2%;
}

p {
  /* padding-top: 8px; */
  font-size: 0.75vw;
}

header {
  width: 90vw;
  position: relative;
  margin: auto;
}

label {
  font-size: .8rem;
}

#logo {
  display: flex;
  justify-content: end;
  width: 15%;
  margin-top: 2em;
  margin-bottom: .5em;
}

#logo > svg {
  height: 3rem;
  width: auto;
}

#logo > h1 {
  font-size: 1.25rem;
  font-family: "Montserrat", sans-serif;
  color: var(--primary-color-light);
  margin-right: .5em;
  text-align: end;
}

header > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
  margin: 0.5em 5% 0 5%;
}

header > ul li {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 0.1em 0 0.1em;
  padding: 0.2em 0.6em 0.2em 0.2em;
  border-radius: 0.1em 10px 0.1em 0.1em;
  min-width: 8em;
  min-height: 2.5em;
  background-color: var(--highlight-color);
}

header ul li a {
  text-decoration: none;
  color: #fff;
}

header > ul li button {
  background-color: transparent;
  border: none;
  color: #fff;
  font-weight: bold;
  padding: 0;
  margin: 0;
  align-self: flex-start;
}

.addButton {
  background-color: var(--main-bg-color);
  box-shadow: 0px 0px 3px var(--shadow-color);
  min-width: 0;
  width: 2.5em;
  justify-content: center;
  padding: 0;
  order: 1;
}

.addButton button {
  font-size: 1.2em;
  align-self: center;
}

.opened {
  background-color: #4daab2;
}

nav {
  display: flex;
  justify-content: center;
  background-color: var(--primary-color);
  width: 100%;
  height: 5rem;
  margin: auto;
  border-radius: 10px;
  position: relative;
}

nav > ul:first-of-type {
  width: 45vw;
  display: flex;
  justify-content: start;
  border-radius: 10px 0 0 10px;
  padding: 10px;
}

nav > ul:nth-of-type(2) {
  width: 45vw;
  display: flex;
  justify-content: end;
  border-radius: 0 10px 10px 0;
  padding: 10px;
}

nav ul li {
  padding-left: 5%;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.header_button {
  background: none;
  color: #fff;
  border-style: none;
  cursor: pointer;
}

.hidden {
  display: none;
}

#parameters{
  width: 20%;
  height: auto;
  background-color: var(--primary-color);
  position: absolute;
  left: 0;
  top: 4.6rem;
  border-radius: 0 0 10px 10px;
}

#parameters li {
  display: block;
  padding-bottom: .5rem;
  padding-left: 5%;
}

.parameter_button {
  display: flex;
  justify-content: left;
  padding: .5em;
  background: none;
  border-style: none;
  color: #fff;
  width: 100%;
}

.parameter_button svg{
  width: 2em;
  height: 2em;
  background: none;
  padding: .3em;
}

.parameter {
  width: 100%;
  position: relative;
  background-color: var(--primary-color-dark);
}
nav ul:first-child li:first-child {
  align-items: baseline;
}

ul li > ul {
  display: block;
}

nav ul li img {
  padding-bottom: 8px;
  height: 30px;
  width: 30px;
}

section {
  position: relative;
  animation: accordion 1s;
  animation-delay: 2s;
}

section ul {
  position: absolute;
  left: -26vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border-radius: 0.5em;
  transition: 1s;
}

section.open {
  margin-left: 26%;
}

section.open ul li img {
  transition: 1s ease;
}

section ul {
  width: 25vw;
  display: grid;
  height: 25vw;
  overflow: scroll;
  margin-top: 10%;
}

/* parameters out of nav and to section */

section ul li {
  margin: 0;
  padding: 0;
  list-style: none;
  padding: 5px 5px 5px 10px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  /* grid-template-rows: repeat(2, 1fr); */
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-items: center;
}

section ul li:not(:last-of-type) {
  border-bottom: 1px solid white;
}

section ul li h3 {
  /* text-align: left; */
  font-weight: 600;
  grid-area: 1 / 2 / 2 / 6;
}

section ul li p {
  display: none;
  grid-area: 2 / 2 / 3 / 6;
}

section ul li input[type="range"] {
  display: none;
  grid-area: 2 / 2 / 4 / 6;
}

section.open ul li.open-menu {
  transition: 1s ease;
}

section ul li.open-menu p {
  display: block;
}

.open #menuButton {
  transform: rotateY(180deg);
}

section ul li img {
  grid-area: 1 / 1 / 3 / 2;
  cursor: pointer;
}

section ul li.open-menu img {
  transform: rotate(180deg);
  transition: 1s ease;
}

section ul li img {
  margin-left: 1.1vw;
  width: 30px;
  height: 30px;
  padding: 5px;
}

#menuButton {
  background-color: #2b2b2b;
  position: absolute;
  /* top: 50%; */
  cursor: pointer;
  width: 50px;
  height: 50px;
  padding: 10px;
  border-radius: 0 5px 5px 0;
  margin-top: 15%;
}

section.open #menuButton {
  margin-left: -1vw;
}

/* #menuButton.open {
  left: 16em;
} */

.open {
  left: 0;
  transition: 1s;
}

svg {
  max-height: 100vh;
  display: flex;
  justify-content: center;
  background-color: var(--main-bg-color);
}

canvas {
  background: #333;
}

.person {
  fill: var(--person-color);
  stroke: #af9898af;
  stroke-width: 0.5;
}

.person:hover {
  fill: var(--person-shadow-color);
}

.item {
  fill: var(--item-color);
}

#zoom {
  display: flex;
  margin-right: 5%;
  padding-left: 10px;
  justify-content: flex-end;
}

div.tooltip {
  position: absolute;
  text-align: center;
  padding: 0.5rem;
  background: #ffffff;
  color: #313639;
  border: 1px solid #313639;
  border-radius: 8px;
  pointer-events: none;
  font-size: 1.3rem;
}

div#zoom button {
  border: none;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: white;
  font-size: 1.5vw;
  margin-bottom: 5px;
  width: 3vw;
  aspect-ratio: 1 / 1;
  margin: 10px 0 10px 0;
}

div.reset {
  display: flex;
  position: fixed;
  right: 5%;
  bottom: 0;
  padding: 17px;
}

button#nextStep,
button#resetSimulation {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 0.75vw;
  border: none;
  cursor: pointer;
}

@keyframes accordion {
  0% {
    margin-left: 0;
  }

  50% {
    margin-left: 5%;
  }

  100% {
    margin-left: 0;
  }
}

div#my_dataviz {
  position: relative;
}

#my_dataviz svg {
  position: fixed;
  bottom: 0;
  display: none;
}

#my_dataviz .showDistance {
  display: block;
}

button{
  padding: 10px;
  margin: 0px 10px;
}

