/*
 * [Modified] Modern CSS Reset
 * @link https://github.com/hankchizljaw/modern-css-reset
*/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html,
body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

/* Make images easier to work with */
img {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }

  html {
    scroll-behavior: initial;
  }
}


/* OWN CSS */

@media (prefers-color-scheme: dark) {
  :root {
    --main-bg-color: white;
    --primary-color: hsl(228, 46%, 35%);
    --secondary-color: hsl(228, 63%, 18%);
    --text-color: hsl(228, 63%, 58%);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --main-bg-color: hsl(223, 45%, 95%);
    --primary-color: hsl(223, 100%, 100%);;
    --secondary-color: hsl(223, 87%, 57%);
    --text-color: hsl(223, 87%, 57%);
  }
}

:root{
  --person-color: purple;
  --item-color: purple;
  --person-shadow-color: rgb(178, 51, 68);
}

body {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  color: var(--text-color);
  background-color: var(--main-bg-color);
}

header{
  position: relative;
  display: grid;
  grid-template-columns: 1fr 6fr;
  width: 90vw;
  height: 10vh;
  margin: auto;
}

#logo {
  display: flex;
  justify-content: end;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  place-self: center;
  height: 3.5rem;
}

#logo > svg {
  height: 100%;
  width: auto;
}

#logo > h1 {
  font-size: 1.25rem;
  font-family: "Montserrat", sans-serif;
  color: var(--text-color);
  margin-right: 0.5em;
  text-align: end;
}

header > ul {
  grid-column: 2;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  justify-content: flex-start;
  margin-bottom: 0;
  position: relative;
  align-self:end;
}

header > ul > li {
  border-radius: 10px 10px 0 0;
  background-color: var(--secondary-color);
  padding: .5rem;
  margin-right: .2rem;
  width: 8rem;
  height: 2.5rem;
  display: flex;
  justify-content: space-between;
}

header > ul > li > a {
  text-decoration: none;
  color: #fff;
  margin-left: .2rem;
}

header > ul > li > button {
  background-color: transparent;
  border: none;
  color: #fff;
  font-weight: bold;
}

header > ul > li > button:hover {
  background-color: var(--text-color);
  border-radius: 0.3em;
}

.addButton {
  background-color: var(--main-bg-color);
  box-shadow: 0px 0px 3px var(--secondary-color);
  min-width: 0;
  width: 2.5em;
  justify-content: center;
  padding: 0;
  order: 1;
}

.addButton button {
  font-size: 1.2em;
  align-self: center;
}

.opened {
  background-color: var(--primary-color);
}

nav{
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row: 2;
  height: 3.5rem;
  display: flex;
  background-color: var(--primary-color);
  width: 100%;
  border-radius: 10px;
  position: relative;
  justify-content: space-between;
}

nav > ul {
  display: flex;
  padding: .5rem;
  margin: 0;
}
nav > ul:first-of-type {
  justify-content: start;
}

nav > ul:nth-of-type(2) {
  justify-content: end;
}

ul > li {
  list-style: none;
}

nav > ul > li {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0 .5em 0 .5em;
}

.header_button {
  width: 100%;
  background: none;
  color: #fff;
  border-style: none;
  cursor: pointer;
  line-height: 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
}

.header_button div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header_button svg {
  height: 1rem;
  background: none;
}

.header_button:active svg{
  fill: white;
}

.header_button p {
  font-size: .8rem;
  text-align: center;
}

.hidden {
  display: none;
}

.header_button > .hidden {
  display: none;
}

#parameters {
  width: fit-content;
  height: auto;
  background-color: var(--primary-color);
  position: absolute;
  left: 0;
  top: 3rem;
  border-radius: 0 0 10px 10px;
  padding: 0;
}

#parameters li {
  display: block;
  padding-bottom: 0.5rem;
  padding-left: 5%;
  font-size: .8rem;
}

.parameter_button {
  display: flex;
  justify-content: left;
  padding: 0.5em;
  background: none;
  border-style: none;
  color: #fff;
  width: 100%;
}

.parameter_button svg {
  width: 2em;
  height: 2em;
  background: none;
  padding: 0.3em;
}

.parameter {
  width: 100%;
  position: relative;
  background-color: var(--primary-color-dark);
}
nav ul:first-child li:first-child {
  align-items: baseline;
}

ul li > ul {
  display: block;
}

nav ul li img {
  padding-bottom: 8px;
  height: 30px;
  width: 30px;
}

svg {
  max-height: 100vh;
  display: flex;
  justify-content: center;
  background-color: var(--main-bg-color);
}

.person {
  fill: var(--person-color);
  stroke: #af9898af;
  stroke-width: 0.5;
  /* opacity: 0.1; */
  clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}

.show {
  opacity: 1;
}

.clicked {
  opacity: 1;
  fill: var(--person-shadow-color);
}

.person:hover {
  fill: var(--person-shadow-color);
}

.item {
  fill: var(--item-color);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

#zoom {
  display: flex;
  margin-right: 5%;
  padding-left: 10px;
  justify-content: flex-end;
}

div.tooltip {
  position: absolute;
  text-align: center;
  padding: 0.5rem;
  background: #ffffff;
  color: #313639;
  border: 1px solid #313639;
  border-radius: 8px;
  pointer-events: none;
  font-size: 1.3rem;
}

div#zoom button {
  border: none;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: white;
  font-size: 1.5vw;
  margin-bottom: 5px;
  width: 3vw;
  aspect-ratio: 1 / 1;
  margin: 10px 0 10px 0;
}

div.reset {
  display: flex;
  position: fixed;
  right: 5%;
  bottom: 0;
  padding: 17px;
}

div#my_dataviz {
  position: relative;
}

#my_dataviz svg {
  position: fixed;
  bottom: 0;
  display: none;
}

#my_dataviz .showDistance {
  display: block;
}

section.onboarding {
  display: none;
  animation: none;
  position: absolute;
  z-index: 2;
 
  top: 5vw;
  left: 10vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

section.onboarding article:nth-of-type(1), section.onboarding article:nth-of-type(2) {
  width: 80vw;
  height: 80vh;
 background-color: var(--primary-color);
  border-radius: 10px;

}

section.onboarding article h1,
section.onboarding article h2,
section.onboarding article p,
section.onboarding article a {
  text-align: center;
}

section.onboarding article h1 {
  font-weight: 200;
}

section.onboarding article h2 {
  text-transform: uppercase;
  font-size: 2.5vw;
}

section.onboarding article h3 {
  text-align: center;
  font-size: 1.5vw;
  font-weight: 600;
}

section.onboarding article p {
  text-align: center;
  font-size: 1.2vw;
  margin: 0 10% 3% 10%;
}

section.onboarding article {
  display: none;
}

section.onboarding article.active {
  display: flex;
    flex-direction: column;
    justify-content: center;
}

section.onboarding article:nth-of-type(3).active div {
  background-color: var(--primary-color);
  padding: 5%;
  margin: 0 15% 0 15%;
  border-radius: 5px;
  position: relative;
  top: 20vh;
}

section.onboarding article:nth-of-type(3).active ~ button.onboarding-start img {
  display: none;
}

section.onboarding article:nth-of-type(3).active ~ button.onboarding-start::after {
  position: absolute;
  top: 40vh;
  left: 40vw;
  background-color: var(--primary-color);
 padding: 2%;
 border-radius: 5px;
 border: none;
content: url('../img/plus-icon.svg')
}


button.onboarding-start {
  background-color: transparent;
  border: none;
  margin-top: -10%;
}


/* /////////////////////////////////////////////////////////////// */
/* CSS FOR ONBOARDING NAVMENU */
/* /////////////////////////////////////////////////////////////// */

section.onboarding article.active nav {
  display: flex;
  justify-content: center;
  max-width: 85vw;
}

section.onboarding article.active nav ul:first-of-type {
  width: 45vw;
  height: 2vh;
  background-color: var(--highlight-color);
  display: flex;
  justify-content: start;
  border-radius: 10px 0 0 10px;
  padding: 5%;

}

section.onboarding article.active nav ul:nth-of-type(2) {
  background-color: var(--highlight-color);
  flex-direction: row;
  display: flex;
  justify-content: end;
  border-radius: 0 10px 10px 0;
  /* padding: 5%; */
}

circle{
  transition: 1s all;
}

circle:hover{
  opacity: 1;
}

body .opacity{
  opacity: 1;
}
.opacityDim{
  opacity: 0.1;
}

section.onboarding article.active nav ul li {
  padding-left: 5%;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.onboarding article.active nav ul li img {
  padding-bottom: 8px;
  height: 30px;
}

section.onboarding article.active nav ul {
  position: static;
  left: 0;
  display: block;
  border-radius: 0;
  transition: none;
  margin: 0;
  height: 5vh;
}


/* section.onboarding article.active nav ul {

} */

/* parameters out of nav and to section */

section.onboarding article.active nav ul li {
  margin: 0;
  padding: 0;
  list-style: none;

}

section.onboarding article.active nav ul li p {
  display: flex;
}


section.onboarding article.active nav ul li:not(:last-of-type) {
  border-bottom: none;
}


section ul li img {
  cursor: pointer;
}

section.onboarding article:nth-of-type(4).active ~ button.onboarding-start {
  display: none;
}